<link rel="stylesheet" href="style.css" />
<div class="topnav">
  <a class="active" href="index">About Me</a>
  <a href="skill">Skill</a>
  <a href="contact">Contact Me</a>
  <a href="portfolio">Portfolio</a>
</div>

<h1>About Me</h1>
<img src="bow_profile.jpg" alt="Bow" /> <br />

<div class="a">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, culpa vero.
    Alias praesentium sed sequi doloremque, reiciendis laborum perferendis quis,
    incidunt pariatur, autem ullam amet maiores quasi omnis molestiae nisi.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, laudantium.
    Deleniti dolore porro maiores officia sunt? Eius quibusdam laborum quidem
    tenetur at totam, officiis iure, vel porro eum quaerat rem?
    <br />
  </p>
</div>
